html, body, #wrapper, #content {
      height:99.97% !important;
      margin: 0;
      padding: 0;
      border: none;
	}
.header{
	height:70px;
}
.logo{
	width:150px;
	max-height:55px;
	height:55px;	
	top:3px;	
}
.footer{	
	height:35px;	
}
.content-body{
	width:100%;
	height:96%;
	background-color:#FFFFFF;
	margin: 0 auto;
}

.toc{
    bottom:36px;
}
#apDiv2 {
	height: 100% !important;
    width: 240px !important;
}
.buttons{
	
	width:40px;
	
}
#searchResultsPopup{
    bottom:42px;
}


.close{	
	padding:8px;
    	top:-2px;
	right:10px;
}
.pagination{	
	padding:5px;	
}

@-moz-document url-prefix() {
    #content {
        overflow: hidden !important;
    }
}
#ccPopup{
    overflow: auto;
    padding: 5px;
	font-size:12px;
	line-height:20px;
	height:100px;
}
#openccPopup{	
    right: 5px;
    width: 80%;
	height:140px;
	font-size:12px;
	line-height:20px;
}

.glossaryPopup{
	width:50% !important;
	height:200px !important;
	top:25% !important;
	left:35% !important;
}

.resourcesPopup{
	width:50% !important;
	height:200px !important;
	top:25% !important;
	left:35% !important;
}
.summary_result {
	font-weight:bold;
}

.video-div{
	width:99% !important;
	max-width:100%;
}
.jp-video{
	width:100%;
	
}
div.jp-video ul.jp-toggles {
	width:60px !important;
	margin-top: 10px;
	float:left;
	
}
ul.jp-toggles{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
ul.jp-toggles li{
	display:block;
}

div.jp-type-single  .jp-controls li a{
	width: 37px !important;
}
div.jp-interface ul.jp-controls {
	/*background: url("jplayer.pink.flag.jpg") 0 0 no-repeat;*/
	list-style-type:none;
	padding: 1px 0 2px 1px;
	overflow:hidden;
	width: 38px !important;
	height: 34px;
	border: 1px solid #000;
}
div.jp-type-single  .jp-play {
	background: url("pink.flag/jplayer.pink.flag.jpg") -30px -40px no-repeat !important;
}

div.jp-type-single  .jp-play:hover {
	background: url("pink.flag/jplayer.pink.flag.jpg") -130px -40px no-repeat !important;
}

div.jp-type-single  .jp-pause {
	background: url("pink.flag/jplayer.pink.flag.jpg") -30px -120px no-repeat !important;
}

div.jp-type-single  .jp-pause:hover {
	background: url("pink.flag/jplayer.pink.flag.jpg") -130px -120px no-repeat !important;
}
div.jp-type-single  .jp-stop {
	background: url("pink.flag/jplayer.pink.flag.jpg") -30px -80px no-repeat !important;
}

div.jp-type-single  .jp-stop:hover {
	background: url("pink.flag/jplayer.pink.flag.jpg") -130px -80px no-repeat !important;
}
div.jp-video .jp-volume-bar{
	width: 75px !important;
}

div.jp-video ul.jp-controls a.jp-volume-max {
	left: 64px !important;
	top:14px;
}

div.jp-video-360p div.jp-video-play {
    background: none repeat scroll 0 0 #000 !important;
     
}

div.jp-jplayer {
   background: none repeat scroll 0 0 #000 !important;
}
 div.jp-interface{
	height:60px !important;
}
div.jp-progress {
   
    height: 5px !important;
    margin-bottom: 0px!important; 
}

div.jp-jplayer {
	width: "100%";
	

}

div.jp-video div.jp-video-play {
display: block;

	}
	
div.jp-interface ul.jp-controls {
    list-style-type: none !important;
    padding: 1px 0px 2px 1px !important;
    overflow: hidden !important;
    width: 38px !important;
    height: 22px !important;
}

.disablejp-controls-border{
 border: none !important;
}

.enable-jp-controls-border{
  border: 1px solid #000 !important;
}

div.jp-interface ul.jp-controls a {
    overflow: hidden !important;
    text-indent: -9999px !important;
    height: 22px !important;
    margin: -6px 0px 12px !important;
    padding: 4px !important;
}

div.jp-video ul.jp-controls {
	 margin: 0 0 0 45% !important;

}
#autoPoster{
background-image:url(../images/audioIcon_small.png);
width:48px;
height:48px;
margin-top: -24px;
margin-left: -24px;
}

#openPolledresponsePopup{
  background-color: #FFFFFF;
  border: 1px #CCCCCC solid;
  bottom: 45px;
  float: right;
  height: 10px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  right: 66px;
  width: 77%;
  height: 82%;
  font-size: 12px;
  line-height: 20px;
  bottom: 63px;
}
p.VideoOfflineTextCss1{ 
    color:#FFFFFF;
	font-size: 13px;
	font-family:"Times New Roman", Times, serif;
	vertical-align:top;
	line-height:25px;
	text-decoration: none;
	text-align:center;
	font-style:italic;
	font-weight:bold;
	    margin-top: 67px;
 } 

/*Hiding audio controls in capture video player - Longanswer*/
.mute{
    display:none !important;
}
div[id^='slideAudioVideo_']{
    display:none !important;
}
div[id^='strokeSliderVideo_']{
    margin-left:5%;
}
/*Hiding audio controls in capture video player - Longanswer*/

.layer-close-top-right{
	position:absolute;
	float:right;
	padding:8px;
	background-color:#dff5fc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#133153;
	font-weight:bold;
	line-height:10px;
	cursor:pointer;
	border-radius:3px;
	top:0px;
	right:1px;
	text-align:center;
}
.layer-close-top-left{
	position:absolute;
	float:left;
	padding:8px;
	background-color:#dff5fc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#133153;
	font-weight:bold;
	line-height:10px;
	cursor:pointer;
	border-radius:3px;
	top:0px;
	left:1px;
	text-align:center;
}

.layer-close-bottom-right{
	position:absolute;
	float:right;
	padding:8px;
	background-color:#dff5fc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#133153;
	font-weight:bold;
	line-height:10px;
	cursor:pointer;
	border-radius:3px;
	bottom:0px;
	right:1px;
	text-align:center;
}
.layer-close-bottom-left{
	position:absolute;
	float:left;
	padding:8px;
	background-color:#dff5fc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#133153;
	font-weight:bold;
	line-height:10px;
	cursor:pointer;
	border-radius:3px;
	bottom:0px;
	left:1px;
	text-align:center;
}

.lyrfs{
  width:100% !important;
  height:100% !important;  
  left:0px !important;
  top:0px !important;
} 

.lyrfs img{
  width:100%;
  height:auto !important;  
} 
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.iframe-css {
 overflow : scroll !important;
 -webkit-overflow-scrolling:touch !important;
}

.h3print {
   display:none !important
 }

.cover {
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
		z-index:-1;
        
 }
 
.coursehints{
 cursor:pointer;
 margin-left:10px;
 padding-right:10px;
 }

#solutionbut{
    padding-right:10px;
}

.solutionpage{
background-color:f1f1f1;
border: 1px solid #333;
margin-bottom: 15px;
font-family:Arial,Helvetica,sans-serif;
}
.popup-header{
background-color:#f4f4f4;
height:100%;
width:100%;
position:relative;
float:right;
}
.solution-num{
padding:5px;
font-family: arial;
font-size: 12px;
text-align:center;
}

.solution-ques{
font-family: arial;
font-size: 12px;
}

.solution-popup{
    position:relative !important;
}
.more-btn{
	display:none;
}
 .font-plus, .ccopen-btn,.glossary-btn,.note-btn, .resourse-btn,.more-btn,
 .discussionBtn,.cc-btn, .ccopen-btn.cc-btn,.search-btn,.BuyattemptsBtn,.next-btn, .back-btn,.menu{

line-height: 13px;
 margin:5px 2px;
}
 .courseunmute, .coursemute{
     margin-top:5px;
 }
.ccopen-btn,.cc-btn{
  width:33px;
}

.ost.page-scroll-mobile{
  margin-bottom:15px;
}
#selectLang {     
    position: absolute;
    top: 46px;
    right: 79px;}

    .option-content{
	margin-top:5px;
}
.full-expand{
   display:none !important;
}
#Searchresult{overflow: auto;
    height: 83% !important;
    padding-bottom:20px !important;    
	}
.lblTimer{      
    right: 213px;
    top:45px;  
}
.noclose .ui-dialog-titlebar-close{
    display:none;
}

#controls {
    width: 134px !important;
}
.gamecontainer{
    height:0% !important;
    width:100% !important;
}
label#lblPrice{
	display: none;
}
span.hidden-mobile {
    display: none;
}
ul#Notelist{
	height: 450px;
}
ul.dropdown-menu{
	min-width: 65px !important;
    font-size: 12px;
}
.modeContainer {
    width: 72px !important;
    float: right !important;
    top: 28px !important;
}
.player{
	font-size: 20px;
}

/*-- popup---*/
#openccPopup,#opennotePopup {
    bottom:42px;
}